DB_USERNAME=root
DB_PASSWORD=password
DB_HOST=mongo
DB_SRV=0
DB_NAME=school
COLL_NAME=students

DB_USERNAME=mongo
DB_PASSWORD=password
DB_HOST=cluster0.suvd2vj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_SRV=1
DB_NAME=school
COLL_NAME=students
